body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #fff;
    margin: 0px;
}

.top-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 50px;
    background-color: #fff;
    align-items: center;
    margin-top: 20px;
}

.top-header p {
    color: #404040;
    font-size: 10px;
    letter-spacing: 2px;
    padding: 20px;
}

.logo {
    width: 250px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
}

.header-contact p{
    display: inline-block;
    font-size: 11px;
    letter-spacing: 2px;
    color:#404040;
    padding-left: 25px;

}

.social {
    width: 250px;
    height: 50px;
    margin-top: 5px 5px 0px auto;
    padding: 0px 20px 0px 0px;
    cursor: pointer;
}

.icons {
    width: 25px;
    height: 25px;
    margin: 8px;
    float: right;
}

.main-header {
    display: flex;
    justify-content: center;
    height: 500px;
    margin: 20px 0px 10px 0px;
    background-color: #f1e2dd;
}

.nav {
    text-align: center;
    height: 100px;
    margin-top: 50px;
}

.nav ul a {
    text-decoration: none;
    color: #000;
}

.nav li {
    display: inline-block;
    font-size: 18px;
    list-style: none;
    margin: 20px;
    letter-spacing: 2px;
    cursor: pointer;
}

.avatar { 
    border-radius: 70%;
    border-color: #fff;
    text-align: center;
}

h1 {
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: lighter;
    color: grey;
    text-align: center;
    padding: 10px 0 10px 0;
}

/* About */

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding-bottom: 50px;
}

.about-me {
    width: 700px;
    margin-top: 30px;
    line-height: 2;
    letter-spacing: 2px;
    font-size: 14px;
    text-align: justify;
    padding: 15px;
}


/*****Portfolio*****/

.gallery {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    margin-bottom: 80px;
}

.boxes {
    width: 300px;
    margin: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: gainsboro;
}

.boxes img {
    width: 300px;
}

.figcaption {
    text-align: center;
    width: 300px;
}



/***** Contact *****/

.contact {
    background-color: #fdeee9;
    height: 500px;
    padding-bottom: 30px;
}

.contact-main {
    height: 100px;
    background-color: #fdeee9;
    margin-top: 100px;
    padding-top: 50px;
}

.contact .contact-main p {
    font-size: 12px;
    letter-spacing: 2px;
    text-align: center;

}
.contact-us {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    justify-content: center;
    padding-top: 60px;
}

.contact-box {
    display: flex;
    width: 200px;
    height: 200px;
    background-color: #fdeee9;
    margin: 20px;
    border-style: solid;
    border-color: #e6e6e6;
    border-width: 1px;
    justify-content: center;
    align-items: center;
}

.contact-box a {
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 2px;
    color:#404040;
}


.coming-soon {
    padding-top: 200px;

}

.coming-soon p {
    display: flex;
    font-size: 12px;
    letter-spacing: 2px;
    justify-content: center;
}

.carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1440px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    border-color: #fff;
}


